.butButton {
  border-radius: 50px;
  background-color: #fff;
  padding: 10px 29px;
  transition-duration: 0.5s;
  text-align: center;
  color: #ff0054;
  overflow: hidden;
  position: relative;
}
.butButton:hover {
  color: #fff;
  background-color: #ff0054;
}
.nav-link {
  color: #fff;
  transition-duration: 0.3s;
  border-radius: 50px;
  padding: 10px 29px;
}
.nav-link:hover {
  color: #fff;
  background-color: #ff0054;
}
header {
  background: url(/assets/logo&landing/header-bg.jpg);
  background-size: cover;
}
nav span {
  color: #fff;
}
.slider h2 {
  color: #fff;
  font-size: 34px;
  line-height: 35px;
  margin-bottom: 40px;
}
.slider h3 {
  color: #fff;
  font-size: 23px;
  line-height: 35px;
  margin-bottom: 40px;
}

.slider button:nth-of-type(1) {
  font-size: 18px;
  background-color: #fff;
  font-weight: 600;
  border-radius: 50px;
  padding: 14px 36px 12px;
  min-width: 225px;
  text-align: center;
  color: #0c57be;
  text-align: center;
  outline: none;
  transition: 0.5s;
  border: none;
}

.slider button:nth-of-type(2) {
  font-size: 18px;
  font-weight: 600;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 12px 34px 10px;
  min-width: 225px;
  color: #fff;
  text-align: center;
  outline: none;
  transition: 0.5s;
}

.slider button:nth-of-type(1):hover {
  border: #03f395;
  background-color: #03f395;
  color: #0c57be;
}
.slider button:nth-of-type(2):hover {
  border: #03f395;
  background-color: #03f395;
  border: 2px solid #03f395;
  color: #0c57be;
}
@media only screen and (max-width: 768px) {
  .slider div div div {
    display: flex;
    flex-direction: column;
  }
  .slider button:nth-of-type(1) {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .slider div div div {
    display: flex;
    gap: 5%;
  }
  .slider button:nth-of-type(1),
  .slider button:nth-of-type(2) {
    /* width: auto; */
  }
}
